@font-face {
  font-family: "Veneer";
  src: url("Veneer.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #efe3cf;
  overflow: auto;
  overflow-x: hidden;
  font-family: "Veneer", sans-serif;
}
.nav-bar{
    position:fixed;
    top:0;left:0;
    width:100%;
    height: 10%;
    padding-left: 10%;
    padding-right: 5%;
    border-bottom: #80755c solid 2px;
    background-color:#efe3cf;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 35%; 
}
.logo{
    font-size: 2.5rem;
    color: #a0522d;
}
.nav a{
    text-decoration: none;
    color: #a0522d;
    font-size: 1.5rem;
}
.side-icons{
    position:fixed;
    left:0;
    top:0;
    z-index: 500;
    background-color:#efe3cf ;
    height:100%;
    width:7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    align-items: center;
    gap:3%;
    border-right: #80755c solid 2px;
}
.side-icons img{
    height: 40px;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin:2%;
}
.side-icons img:hover{
    transform: scale(1.1);
}
.hero{
    position: relative;
    height: 100vh;
    width:100%;
    overflow: hidden;
    align-items: center;
}
.bottle{ position: absolute;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(15deg);
    width: 420px;
    z-index: 2;
}
.bg-text{
    position: absolute;
    top: 65%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: #a0522d;
    font-weight: 200;
    line-height: 150px;
    text-align: center;
    z-index: 0; }
.stamp{
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%) rotate(-29deg);
    width: 120px;
    z-index: 4;
}

.second{
    position: relative;
    background: #efe3cf;
    height: 100vh;
     min-height: 100vh;
    margin-top: 5%;
    padding-left: 10%;
    display:flex;
    gap:20%;
    justify-content: space-between;
}
.left{
    padding-top: 3vh;
    width:35%;
}
.left h2{
    font-size: 3.5rem;
    color: #a0522d;
    font-weight: 300;
    line-height: 3.2rem;
}
.left p{
    font-size: 1.2rem;
    color: black;
    margin-top: 20px;
}
.left button{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #f7f6f5;
    background-color: #a0522d;
    border: 2px solid #a0522d;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.left button:hover{
    transform: scale(1.03);
}
.right{
    width: 35%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:25px;
    text-align: left;
}
.right h3{
    font-size: 3rem;
    font-weight: 500;
    color: #a0522d;
}
.drinks{
    display: flex;
    gap:1.5rem;
    text-align: left;
    justify-content: baseline;
}
.drinks h2{
    font-size: 1.5rem;
    font-weight: 200;
    color: #90663B;
    width:19%;
}
.description{
    font-weight: 100;
    color: black;
}
.description h1{
    color: #a0522d;
    font-weight: 300;
    font-size: 1.5rem;
}
.description p{
    font-size: 1rem;
    margin-top: 10px;
}
.third{
    position: relative;
    background: #efe3cf;
    height: 100vh;
     min-height: 100vh;
     margin-top: 1%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
        justify-content: space-between;
    
}
.third h1{
    font-size: 5.5rem;
    color: #a0522d;
    font-weight: 300;
    line-height: 3.2rem;
}
.t1{
    content: "";
    height:25%;
    margin-bottom: 25%;}
.t1 h4{
    font-size: 2.5rem;
    font-weight: 200;
    color: #a0522d;
}
.t1-sq{
    width: 20%;
  aspect-ratio: 1 / 1;
border: #a0522d solid 3px;
display: flex;
  align-items: center;  
  justify-content: center;}
.t1-sq img{
    width: 94%;
    height: 94%;
    object-fit: cover;
}
.t1-material{
    display: flex;
    gap: 20px;
}
.material h3{
    font-size: 2.5rem;
    font-weight: 200;
    color: #a0522d;
}
.material p{
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
    max-width: 400px;
}
.fourth{
    position: relative;
    background: #efe3cf;
    height: 100vh;
     min-height: 100vh;
     margin-top: 1%;
    padding-left: 10%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
        justify-content: space-between;
    
}
.t2{
    display: flex;
  flex-direction: column;
  gap: 20px;
    content: "";
    height:25%;
    margin-bottom: 25%;}
.t2 h4{
    font-size: 2.5rem;
    font-weight: 200;
    color: #a0522d;
    width: 100%;
    text-align: right;
}
.t2-sq{
    width: 20%;
  aspect-ratio: 1 / 1;
border: #a0522d solid 3px;
display: flex;
  align-items: center;  
  justify-content: center;}
.t2-sq img{
    width: 94%;
    height: 94%;
    object-fit: cover;
}
.t2-material{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
footer {
    width: 100%;
    padding: 140px 0;
    margin-left: 3%;
    background-color: #a0522d;
    display:flex;
    justify-content: space-evenly;
}
.flogo{
    font-size: 2.5rem;
    color: #f7f6f5;
}
.fnav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%; 
}
.fnav a{
    text-decoration: none;
    color: #f7f6f5;
    font-size:1rem;
    cursor: pointer;
    text-align: left;
}
.ficon-box a{
    text-decoration: none;
    color: #f7f6f5;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
}